   <!-- Section -->
    <section class=" pt-100 pb-80" id="about" >
       <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box" data-aos="fade-up">
                        <h2 class="">What we do</h2>
                        <p class="sub-heading">With 128 member strong club, Rotary Bangalore Indiranagar is often tagged as one of the most vibrant Rotary Clubs in the Country.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-20" data-aos="fade-up">
                    <img src="{{site.baseurl}}/images/polio-vaccine-in-hyderabad.jpg" class="img-responsive border radius" alt="">
                </div>
                <div class="col-md-6 mt-20" data-aos="fade-up">
                    <ul class="features">
                        <li>
                            <div class="icon">
                                <i class="ion-ios-heart"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading ">Yearly 250 Free Heart Procedures</h6>
                                <p>250 Free Heart Procedures & Surgeries per year project. Best Cooperative Projects Award.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-waterdrop"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading ">Blood Donation Drive</h6>
                                <p>Bangalore Medical Services Trust (BMST) is a not-for-profit organization of the Rotary Club of Bangalore Indiranagar and TTK group of companies.</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="ion-ios-medkit"></i>
                            </div>
                            <div class="features-body">
                                <h6 class="heading ">Karunashraya</h6>
                                <p>This is the story of Rotary Club of Bangalore Indiranagar's flagship project - Karunashraya, the hospice.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    </section>