   <!-- Section -->
    <section class="bg-white pt-100 pb-80" >
       <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box" data-aos="fade-up">
                        <h2 class="">Incoming RI president announces 2020-21 presidential theme</h2>
                        <!-- <p class="sub-heading"></p> -->
                    </div>
                </div>

                <div class="col-md-6 mt-20" data-aos="fade-up">
                    <p class="lead">
                        Rotary International President-elect Holger Knaack is encouraging Rotarians to seize the many opportunities Rotary offers to enrich their lives and the communities they serve.
                    </p>
                    <blockquote>
                        We will capture this moment to grow Rotary, making it stronger, more adaptable, and even more aligned with our core values.
                    </blockquote>
                    <p><small>
                        <span><strong>Holger Knaack</strong></span><br>
                        <span>Rotary International President-elect </span>
                    </small></p>
                    <a class="btn btn-primary" href="https://www.rotary.org/en/holger-knaack-sees-opportunities-rotary-change-thrive" target="_blank">Read More</a>
                </div>
                  <div class="col-md-6 mt-20" data-aos="fade-up">
                    <img src="{{site.baseurl}}/images/enrich-community.jpg" class="img-responsive border radius" alt="">
                </div>
            </div>
        </div>
        
    </section>