<!-- Section -->
    <section class="pt-100 pb-80" id="our-focus" style="background-image: url({{site.baseurl}}/images/concrete_seamless.jpg)">
        <div class="container">
            <div class="row row-bottom-padded-md">
            <div class="col-md-12">
                    <div class="heading-box" data-aos="fade-up">
                        <h2>Focus Areas</h2>
                        <p class="sub-heading">Rotary is where neighbors, friends, and problem-solvers share ideas, join leaders, and take action to create lasting change.</p>
                    </div>
                </div>
            </div>
        <div class="row">        
        {% for item in site.data.data.focus limit: 3 %}
          <div class="col-lg-4 col-md-4 col-sm-6" data-aos="flip-right">
            <div class="fh5co-blog"><a href="#{{item.link}}" data-toggle="modal" data-target="#{{item.link}}"><img class="img-responsive" src="{{site.baseurl}}{{item.image}}" alt="website template image"></a>
              <div class="blog-text">
                <div class="prod-title">
                  <h3><a href="#{{item.link}}" data-toggle="modal" data-target="#{{item.link}}">{{item.title}}</a></h3>
                  <p>{{item.description | truncate: 120}}</p>
                  <p><a href="#{{item.link}}" data-toggle="modal" data-target="#{{item.link}}">Learn More...</a></p>
                </div>
              </div>
            </div>
          </div>

 
                
                 
                  <!-- Modal -->
        <div id="{{item.link}}" class="modal fade" role="dialog">
          <div class="modal-dialog project-modal">
            
            <!-- Modal content -->
 
            <div class="modal-content">
            <div class="modal-body">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{item.title}}</h3>
                <p class="modal-description">{{item.description}}</p>
            </div>
            <div class="owl-carousel owl-projects owl-theme">
            {% for pro in site.data.projects %}
            {% if pro.category == item.category %}
             
                <div class="item">
                  <div class="box bg-img" style="background-image: url({{site.baseurl}}/images/geo-red.png)">
                   <div class="row">
                       <div class="col-md-6">
                         <div class="body" >
                           <h4 class="white">{{pro.title}}</h4>
                           <p class="white">{{pro.description}}</p>
                         </div>
                       </div>
                       <div class="col-md-6">
                           <div class="image" style="background-image: url({{site.baseurl}}/images/projects/{% if pro.image %}{{pro.image}}{% else %}kids.jpg{% endif %})">
                               
                           </div>
                       </div>
                   </div>
                  </div>
                </div>
                
                

                {% endif %}
            {% endfor %}
                </div>
             <div class="modal-footer">
               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
   
          </div>
        </div>
 
    {% endfor %}
        </div>       
    
       <div class="row">        
        {% for item in site.data.data.focus offset: 3 limit: 3 %}
          <div class="col-lg-4 col-md-4 col-sm-6" data-aos="flip-right">
            <div class="fh5co-blog"><a href="#{{item.link}}" data-toggle="modal" data-target="#{{item.link}}"><img class="img-responsive" src="{{site.baseurl}}{{item.image}}" alt="website template image"></a>
              <div class="blog-text">
                <div class="prod-title">
                  <h3><a href="#{{item.link}}" data-toggle="modal" data-target="#{{item.link}}">{{item.title}}</a></h3>
                  <p>{{item.description | truncate: 120}}</p>
                  <p><a href="#{{item.link}}" data-toggle="modal" data-target="#{{item.link}}">Learn More...</a></p>
                </div>
              </div>
            </div>
          </div>

 
                
                 
                  <!-- Modal -->
        <div id="{{item.link}}" class="modal fade" role="dialog">
          <div class="modal-dialog project-modal">
            
            <!-- Modal content -->
 
            <div class="modal-content">
            <div class="modal-body">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{item.title}}</h3>
                <p class="modal-description">{{item.description}}</p>
            </div>
            <div class="owl-carousel owl-projects owl-theme">
            {% for pro in site.data.projects %}
            {% if pro.category == item.category %}
                <div class="item">
                  <div class="box bg-img" style="background-image: url({{site.baseurl}}/images/geo-red.png)">
                   <div class="row">
                       <div class="col-md-6">
                         <div class="body" >
                           <h4 class="white">{{pro.title}}</h4>
                           <p class="white">{{pro.description}}</p>
                         </div>
                       </div>
                       <div class="col-md-6">
                           <div class="image" style="background-image: url({{site.baseurl}}/images/projects/{% if pro.image %}{{pro.image}}{% else %}kids.jpg{% endif %})">
                               
                           </div>
                       </div>
                   </div>
                  </div>
                </div>
                
                

                {% endif %}
            {% endfor %}
                </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
   
          </div>
        </div>
 
    {% endfor %}
        </div>
        


       <div class="row justify-content-center">        
        {% for item in site.data.data.focus offset: 6 limit: 1 %}
          <div class="col-lg-4 col-md-4 col-sm-6" data-aos="flip-right">
            <div class="fh5co-blog"><a href="https://www.rotary.org/en/supporting-environment-becomes-new-area-focus" target="_blank"><img class="img-responsive" src="{{site.baseurl}}{{item.image}}" alt="website template image"></a>
              <div class="blog-text">
                <div class="prod-title">
                  <h3><a href="https://www.rotary.org/en/supporting-environment-becomes-new-area-focus" target="_blank">{{item.title}}</a></h3>
                  <p>{{item.description | truncate: 120}}</p>
                  <p><a href="https://www.rotary.org/en/supporting-environment-becomes-new-area-focus" target="_blank">Learn More...</a></p>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}
        </div>
        
        </div>
    </section>
