<div class="footer" id="contact">
        <div class="footer-pri">            <!-- Primary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6" data-aos="zoom-in-up">
                        <div class="footer-box about-box" >
                            <img width="200" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}">         <!-- Replace woth your logo -->
                            <br/><br/>
                            <p>Rotary Indiranagar touches more than 150,000 lives every year! It is known for its service in Hospice through Karunashraya, Blood donation camps raising more than 15,000 units every year and awareness camps through BleedHope, more than 250 free heart surgeries for the needy, 6 adopted villages and many more projects.</p>
                        </div>
                    </div>
                    <div class="col-md-3" data-aos="zoom-in-up">
                        <div class="footer-box links-box" >
                            <h5 class="heading">Quick Links</h5>
                            <ul>
                               {% for item in site.data.data.menus offset: 1 %}
                                 <li><a class="scroll-link" href="{{site.baseurl}}/{{item.link}}">{{item.title}}</a></li>
                                {% endfor %}
                                <li><a href="{{site.baseurl}}/newsletters/">Newsletters</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3" data-aos="zoom-in-up">
                        <div class="footer-box social-box" >
                            <h5 class="heading">Contact us</h5>
                            <ul class="contact">
                                <li><a href="tel:{{site.data.data.information.phone}}">{{site.data.data.information.phone}}</a></li>
                                <li><a href="mailto:{{site.data.data.information.email}}">{{site.data.data.information.email}}</a></li>
                            </ul>
                            <hr/>
                            <ul class="social">
                                <li><a target="_blank" href="{{site.data.data.information.facebook}}"><i class="ion-social-facebook"></i></a></li>
                                <li><a target="_blank" href="{{site.data.data.information.twitter}}"><i class="ion-social-twitter"></i></a></li>
                                <li><a target="_blank" href="mailto:{{site.data.data.information.email}}"><i class="ion-android-mail"></i></a></li>
                            </ul>
                            <br>
                            <div class="polio pt-20">
                                <img class="" width="80" src="{{site.baseurl}}/images/logo-end-polio.svg" alt="End Polio Logo">
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="footer-sec">            <!-- Secondary Footer -->
            <div class="container">
                <div class="row">
                    <div class="col-md-4 rights">
                        <span class="copyright">&copy; {{ "now" | date: "%Y" }}. All rights reserved</span>
                    </div>
                    <div class="col-md-4">
                        <span class="copyright"></span>
                    </div>
                   <div class="col-md-4 dev">
                        <span class="copyright">Developed by <a target="_blank" href="http://icsoln.com">ICS</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>