<header>
       <!-- Navigation Bar-->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                                <i class="ion-ios-more-outline"></i>
                            </button>
                            <a class="navbar-brand" href="index.html">
                                <img src="/images/rotary-indiranagar-logo.png" alt="">         <!-- Replace with your logo -->
                            </a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="navigation">
                            <ul class="nav navbar-nav">          <!-- Menu -->
                                <li>
                                    <a href="#home" class="scroll-link">Home</a>          <!-- Menu Item -->
                                </li>   
                                <li>
                                    <a href="#about" class="scroll-link">About Us</a>          <!-- Menu Item -->
                                </li>
                                <li>
                                    <a href="#projects" class="scroll-link">Our Causes</a>          <!-- Menu Item -->
                                </li>
                                <li>
                                    <a href="#our-focus" class="scroll-link">Our Focus</a>          <!-- Menu Item -->
                                </li>

                                <li>
                                    <a href="#join" class="scroll-link">Join Us</a>          <!-- Menu Item -->
                                </li>
                                <li>
                                    <a href="#contact" class="scroll-link">Contact Us</a>          <!-- Menu Item -->
                                </li>
                                <li>
                                    <a href="#pricing" class="btn-menu scroll-link">Donate</a>          <!-- Menu Button -->
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    
   
   <!-- Hero Section Style 3 -->
    <section class="hero-3" id="home" style="background-image: url(/images/header-background.jpg); background-blend-mode: soft-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="hero-box">
                       <p><img width="150" src="/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                        <h1 class="hero-heading">People of Action</h1>
                        <p class="hero-text text-shadow">Rotary is where neighbors, friends, and problem-solvers share ideas, join leaders, and take action to create lasting  change.</p>
                        <!-- <a href="" class="btn btn-primary btn-lg">Buy Now!</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>