       <section class="" style="margin-top: 60px">
           <div class="owl-carousel owl-intro owl-theme">

                <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/rotary-corona-report.jpg); background-size: contain;background-color: #004aad">
                <div class="container relative">
             <!--    <div class="row">
                    <div class="col-md-8">
                        <div class="hero-box" style="background: rgba(0, 0, 0, 0.6);padding: 20px 40px;border-radius: 10px">
                           <p><img width="150" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                            <h1 class="hero-heading" style="margin-bottom: 0.25em">Covid 19 initiatives</h1>
                            <p class="hero-text text-shadow white">Rotary bangalore Indiranagar supported distribution of 16000 ration kits!</p>
                            <p class="hero-text text-shadow white" style="margin-bottom: 0.5em">Through Covid 19 initiatives, RBI has impacted 1,00,000 people, spent close to Rs.90 lacs & spent about 1000 man hours.</p>
                            <p><a class="btn btn-warning" href="https://funding.rotaryindiranagar.org/covid-19-initiatives-by-rotary-bangalore-indiranagar/" style="margin-right: 20px; margin-top: 10px">Read More</a></p>
                        </div>
                    </div>
                </div> -->
                    </div>
                </div>  
          <!--    
                <div class="item" style="background-image: url({{site.baseurl}}/images/header-background.jpg); background-blend-mode: soft-light; background-size: cover;">
                <div class="container relative">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hero-box">
                           <p><img width="150" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                            <h1 class="hero-heading">People of Action</h1>
                            <p class="hero-text text-shadow white">Rotary is where neighbors, friends, and problem-solvers share ideas, join leaders, and take action to create lasting  change.</p>
                        </div>
                    </div>
                </div>
                    </div>
                </div>     
                
                            <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/hosakote-government-school.jpg);background-size: cover; background-blend-mode: soft-light">
                
                  <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hero-box">
                           <p><img width="150" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                            <h1 class="hero-heading">Hoskote Government School</h1>
                            <p class="hero-text text-shadow white">Adopted by Rotary Bangalore Indiranagar.</p>
                        </div>
                    </div>
                </div>
                            </div>
                            </div>  
                
            <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/awards-2.jpg);background-size: cover; background-position: top">
                
                  <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hero-box">
                           <p><img width="150" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                            <h1 class="hero-heading">Rotary Bangalore Indiranagar Awards</h1>
                            <p class="hero-text text-shadow white"></p>
                        </div>
                    </div>
                </div>
            </div>
            </div> 




           <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/Together-We-Can-2.jpg);background-size: cover; background-blend-mode: soft-light">
           </div> 
           <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/school.jpg);background-size: cover; background-blend-mode: soft-light">
           </div>       
           <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/rotary-meeting.jpg);background-size: cover; background-blend-mode: soft-light">
           </div>          
           <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/Karunashraya-slider-3.jpg);background-size: cover;background-blend-mode: soft-light">
           </div>  -->         
   
           </div>
       </section>