       <!-- Hero Section Style 3 -->
<!--         <section class="hero-3" style="background-image: url({{site.baseurl}}/images/header-background.jpg); background-blend-mode: soft-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hero-box">
                           <p><img width="150" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                            <h1 class="hero-heading">People of Action</h1>
                            <p class="hero-text text-shadow">Rotary is where neighbors, friends, and problem-solvers share ideas, join leaders, and take action to create lasting  change.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
       <section class="">
           <div class="owl-carousel owl-intro owl-theme">
               
                <div class="item" style="background-image: url({{site.baseurl}}/images/header-background.jpg); background-blend-mode: soft-light; background-size: cover;">
                <div class="container relative">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hero-box">
                           <p><img width="150" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                            <h1 class="hero-heading">People of Action</h1>
                            <p class="hero-text text-shadow white">Rotary is where neighbors, friends, and problem-solvers share ideas, join leaders, and take action to create lasting  change.</p>
                        </div>
                    </div>
                </div>
                    </div>
                </div>     
                
                            <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/hosakote-government-school.jpg);background-size: cover; background-blend-mode: soft-light">
                
                  <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hero-box">
                           <p><img width="150" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                            <h1 class="hero-heading">Hoskote Government School</h1>
                            <p class="hero-text text-shadow white">Adopted by Rotary Bangalore Indiranagar.</p>
                        </div>
                    </div>
                </div>
                            </div>
                            </div>  
                
            <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/awards-2.jpg);background-size: cover; background-position: top">
                
                  <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hero-box">
                           <p><img width="150" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                            <h1 class="hero-heading">Rotary Bangalore Indiranagar Awards</h1>
                            <p class="hero-text text-shadow white"></p>
                        </div>
                    </div>
                </div>
            </div>
            </div>    
<!--            <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/Together-We-Can.jpg); background-blend-mode: soft-light">
           </div>      -->
           <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/school.jpg);background-size: cover; background-blend-mode: soft-light">
           </div>       
           <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/rotary-meeting.jpg);background-size: cover; background-blend-mode: soft-light">
           </div>   
       <!--     <div class="item" style="background-image: url({{site.baseurl}}/images/slideshow/Together-We-Connect.jpg);background-blend-mode: soft-light">
           </div> -->
                
           </div>
       </section>