       <!-- Hero Section Style 3 -->
        <section class="hero-3" style="background-image: url({{site.baseurl}}/images/header-background.jpg); background-blend-mode: soft-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="hero-box">
                           <p><img width="150" src="{{site.baseurl}}/images/rotary-logo-text-reversed.svg" alt="{{site.title}}"></p>
                            <h1 class="hero-heading">People of Action</h1>
                            <p class="hero-text text-shadow">Rotary is where neighbors, friends, and problem-solvers share ideas, join leaders, and take action to create lasting  change.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>