 <!-- Section -->
    <section id="join" class="pt-100 pb-100" style="background-image: url(/images/join-us.png); background-position: center center; background-size: cover; background-repeat: no-repeat;">
        <div class="container">
            <div class="row">
               
                <div class="col-md-8 float-none">
                       <div class="shadow">
                        <h2 class="white text-shadow">Join Us</h2>
                    <p class="white text-shadow">Around the world and around the corner, the 1.2 million men and women of Rotary</p>
                    <ul class="white text-shadow">
                        <li>Get involved in their communities.</li>
                        <li>Connect with other professionals.</li>
                        <li>Share their time and experience with young people.</li>
                        <li>Support global causes, such as eradicating polio.</li>
                        <li>Use their skills to help others.</li>
                    </ul>
                    <div class="row">
                        <div class="col-md-8">
                       <form>
                        <div class="form-group">
                            <input class="form-control" id="example-text-input-inline" type="text" placeholder="Your name" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="example-text-input-inline" type="email" placeholder="Your email" required>
                        </div>
                        <button class="btn btn-primary" type="submit">Join!</button>
                    </form>
                    </div>
                </div>
                
                </div>
                </div>
            </div>
        </div>
    </section>
