<button class="btn btn-info slide-toggle" type="button">NEWS</button>
<div class="boxed fade in">

    <div class="box-inner" role="dialog">
        <div class="news-head">
            <h3>News Bulletin</h3>
            <span class="ion ion-close-circled close-btn"></span>
        </div>
        <div class="news-body">
            <ul>
                {% for item in site.data.newsletters reversed %}
                    <li>
                        <a class="scroll-link" href="{% if item.pdf %}/newsletters/{{item.pdf}}{% else %}{{site.baseurl}}/newsletters/#{{item.id}}{% endif %}" {% if item.pdf %}target="_blank"{% endif %}>{{item.title}}</a>
                    </li>
                {% endfor %}

            </ul>

        </div>
    </div>
</div>
