<!-- Section -->
    <section class="pt-100 pb-100" id="projects" style="background-image: url({{site.baseurl}}/images/texture-lighter-blue.png)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box" data-aos="fade-up">
                        <h2 class="white">Key Projects</h2>
                        <p class="sub-heading white">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
    
        {% for item in site.data.data.projects %}
                
                   <div class="col-md-4 mb-20" data-aos="zoom-in">
                    <div class="box">
                        <img class="image" src="{{site.baseurl}}{{item.image}}" alt="{{item.title}}" loading="lazy">
                        <div class="inner">
                            <h3>{{item.title}}</h3>
                            <p>{{item.description}}</p>
                            <a class="btn btn-primary btn-block" style="cursor: pointer; outline: 0px;" data-toggle="modal" data-target="#{{item.link}}">Read More</a>
                        </div>
                    </div>
                </div>

                        <!-- Modal -->
                    <div id="{{item.link}}" class="modal fade" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content -->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{item.title}}</h4>
                          </div>
                          <div class="modal-body">
                           <img class="image" src="{{site.baseurl}}{{item.image}}" alt="{{item.title}}">
                            <p>{{item.description}}</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>

                      </div>
                    </div>
                    
                {% endfor %}
                
<!--                 <div class="col-md-4 mb-20">
                    <div class="box">
                        <img class="image" src="{{site.baseurl}}/images/blood-donation.jpg" alt="" width="100%">
                        <div class="inner">
                            <h3>Blood Donation Camps</h3>
                            <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                            <a class="btn btn-primary btn-block" style="cursor: pointer; outline: 0px;">Read More</a>
                        </div>
                    </div>
                </div>
                
                    
                <div class="col-md-4 mb-20">
                    <div class="box">
                        <img class="image" src="{{site.baseurl}}/images/karunashraya.jpg" alt="" width="100%">
                        <div class="inner">
                            <h3>Cancer Hospice</h3>
                            <p>Interdum amet accumsan placerat commodo ut amet aliquam blandit nunc tempor lobortis nunc non. Mi accumsan.</p>
                            <a class="btn btn-primary btn-block" style="cursor: pointer; outline: 0px;">Read More</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>  
