  <!-- Modal -->
<div id="ragalahari" class="modal fade" role="dialog">
<div class="modal-dialog">

<!-- Modal content -->
<div class="modal-content">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h4 class="modal-title">Raaga Lahari</h4>
  </div>
  <div class="modal-body">
	Would you like to participate in Raaga Lahari?
  </div>
  <div class="modal-footer">
	<a href="{{site.baseurl}}/raagalahari/" class="btn btn-success">Visit Raaga Lahari</a>
	<a type="button" class="btn btn-default" data-dismiss="modal">Close</a>
  </div>
</div>

</div>
</div>
<style>
	#ragalahari .modal-footer .btn-success {
		margin-bottom: 10px;
		float: left;
	}
	#ragalahari .modal-footer .btn-default {
		float: left;
	}
</style>

<script>
$(window).ready(function(){
	console.log('ready');
	setTimeout(function() {
		console.log('entered timeout');
		if(!sessionStorage.getItem('ThisFeature') == '1') {
			console.log('entered loop');
			$('#ragalahari').modal();
		window.sessionStorage.setItem("ThisFeature", "1");

	}
 }, 5000);
});
</script>


