<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
$('#rzp-button1').click(function(e){
   e.preventDefault();

    if((!$("#f1 input").val()) || (!$("#f1 textarea").val())) {
	   alert("Please fill all the fields.");
    } 
else {
    var options = {
    "key": "{{site.rzp-key}}",
    "amount": "100000", 
    "image": "{{site.url}}{{site.baseurl}}/images/rotary-wheel-small.png",
    "handler": function (response){
        alert("Donation successful.");
    }
}
};
   options.name = $('#cataract-name').val();
   options.description = $('#cataract-message').val();
   var rzp1 = new Razorpay(options);
   rzp1.open()
});    
</script>


<script>
$('#rzp-button2').click(function(e){
   e.preventDefault();
    
    
    if((!$("#f2 input").val()) || (!$("#f2 textarea").val())) {
	   alert("Please fill all the fields.");
    } 
else {
    var options = {
    "key": "{{site.rzp-key}}",
    "amount": "2500000", 
    "image": "{{site.url}}{{site.baseurl}}/images/rotary-wheel-small.png",
    "handler": function (response){
        alert("Donation successful.");
    }
    }
};
   options.name = $('#scholarship-name').val();
   options.description = $('#scholarship-message').val();
   var rzp2 = new Razorpay(options);
   rzp2.open()
});    
</script>

<script>
$('#rzp-button3').click(function(e){
   e.preventDefault();
    
    
    if((!$("#f3 input").val()) || (!$("#f3 textarea").val())) {
	   alert("Please fill all the fields.");
    } 
else {
    var options = {
    "key": "{{site.rzp-key}}",
    "amount": "3500000", 
    "image": "{{site.url}}{{site.baseurl}}/images/rotary-wheel-small.png",
    "handler": function (response){
        alert("Donation successful.");
    }
    }
};
   options.name = $('#surgery-name').val();
   options.description = $('#surgery-message').val();
   var rzp3 = new Razorpay(options);
   rzp3.open()
});    
</script>

<script>
$('#rzp-button4').click(function(e){
   e.preventDefault();
    
    
    if((!$("#f4 input").val()) || (!$("#f4 textarea").val())) {
	   alert("Please fill all the fields.");
    } 
else {
    var options = {
    "key": "{{site.rzp-key}}",
    "amount": "3500000", 
    "image": "{{site.url}}{{site.baseurl}}/images/rotary-wheel-small.png",
    "payment_capture": 1,
    "handler": function (response){
        alert("Donation successful.");
    }
    }
};
   options.name = $('#general-name').val();
   options.amount = $('#general-amount').val() * 100;
   options.description = $('#general-message').val();
   var rzp4 = new Razorpay(options);
   rzp4.open()
});    
</script>



{% for i in (1..4) %}
<script>
$('input[name="terms{{i}}"]').click(function () {
    if ($(this).is(':checked')) {

        $('#rzp-button{{i}}').removeAttr('disabled'); 

    } else {

        $('#rzp-button{{i}}').attr('disabled', true); 
    }
});
</script>
{% endfor %}



