<!-- Section -->
<section class="bg-white pt-100 pb-80">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-box" data-aos="fade-up">
          <h2 class="">
            RI President-elect announces 2021-22 presidential theme <br /><br />
            <em>Serve to Change Lives</em>
          </h2>
          <!-- <p class="sub-heading"></p> -->
        </div>
      </div>

      <div class="col-md-6 mt-20" data-aos="fade-up">
        <p class="lead">
          Rotary International President Shekhar Mehta urged members to become
          more involved in service projects, saying that caring for and serving
          others is the best way to live because it changes not only other
          people’s lives, but also our own.
        </p>
        <blockquote>
          Rotary kindled the spark within me to look beyond myself and embrace
          humanity.
        </blockquote>
        <p>
          <small>
            <span><strong>Shekhar Mehta</strong></span
            ><br />
            <span>Rotary International President</span>
          </small>
        </p>
        <a
          class="btn btn-primary"
          href="https://www.rotary.org/en/holger-knaack-sees-opportunities-rotary-change-thrive"
          target="_blank"
          >Read More</a
        >
      </div>
      <div class="col-md-6 mt-20" data-aos="fade-up">
        <img
          src="{{'/images/Shekhar-and-Rashi.webp' | relative_url}}"
          class="img-responsive border radius"
          alt="rotary bangalore indiranagar"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
