
    <!-- Section -->
    <section class="pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box">
                        <h2>What's so special</h2>
                        <p class="sub-heading">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-20">
                    <img src="{{site.baseurl}}/images/product-shot-3.jpg" class="img-responsive" alt="" loading="lazy">
                </div>
                <div class="col-md-6 mt-20">
                    <p class="lead">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy.</p>
                    <ul class="list-default">
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate velit esse cillum dolore eu fugiat nulla pariatur.</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                        <li>Voluptate velit esse cillum dolore eu fugiat nulla pariatur. Sed do eiusmod tempor incididunt ut labore et dolore magna.</li>
                        <li>Sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                    </ul>
                    <a href="" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Section -->
    <section class="pt-100 pb-100" style="background-image: url({{site.baseurl}}/images/light-bg.jpg); background-position: center 30%; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="counter-box">
                        <div class="counter-body">
                            <div class="icon"><i class="ion-ios-timer-outline"></i></div>
                            <h3 class="count" data-to="5470802">0</h3>
                            <div class="text">Units sold</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  