 <!-- Section -->
    <section class="pt-100 pb-100" id="testimonials" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-box left">
                        <h2 class="white">People Show Love</h2>
                        <p class="sub-heading white">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-slider">
                        <div class="slider-items owl-carousel">
                            <div>
                                <div class="testimonial-box">
                                    <div class="testimonial-img">
                                        <img src="{{site.baseurl}}/images/customer-2.jpg" class="img-circle" alt="">
                                    </div>
                                    <span class="testimonial-by">
                                        Callum Grant
                                    </span>
                                    <div class="testimonial-body">
                                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts.</p>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <div class="testimonial-box">
                                    <div class="testimonial-img">
                                        <img src="{{site.baseurl}}/images/customer-1.jpg" class="img-circle" alt="">
                                    </div>
                                    <span class="testimonial-by">
                                        Jonathan Andre
                                    </span>
                                    <div class="testimonial-body">
                                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>