 <section class="bgcolor3 pt-100 pb-100" id="videos">
        <div class="container">
            <div class="row">
              <div class="col-md-12">
                    <div class="heading-box" data-aos="fade-up">
                        <h2 class="">Videos</h2>
                        <p class="sub-heading">Introductory videos on Rotary Bangalore Indiranagar.</p>
                    </div>
                </div>
                {% for item in site.data.data.videos %}
                <div class="col-md-4 mb-40" data-aos="zoom-in">
                    <iframe class="video" src="https://www.youtube.com/embed/{{item.id}}?rel=0"  allowfullscreen></iframe>
                </div>
                {% endfor %}
            </div>
        </div>
</section>
