 <section class="bgcolor3 pt-100 pb-100" id="videos">
        <div class="container">
            <div class="row">

              <div class="col-md-12">
                    <div class="heading-box" data-aos="fade-up">
                        <h2 class="">Videos</h2>
                        <p class="sub-heading">Introductory videos on Rotary Bangalore Indiranagar.</p>
                    </div>
                </div>
                <div class="col-md-4 mb-40" data-aos="zoom-in">
                    <iframe class="video" src="https://www.youtube.com/embed/SM_XjBKkV4k?rel=0"  allowfullscreen></iframe>
                </div>
                <div class="col-md-4 mb-40" data-aos="zoom-in">
                    <iframe class="video" src="https://www.youtube.com/embed/It34boRCW4o?rel=0"  allowfullscreen></iframe>
                </div>
                <div class="col-md-4 mb-40" data-aos="zoom-in">
                    <iframe class="video" src="https://www.youtube.com/embed/er5ia6k3WoM?rel=0"  allowfullscreen></iframe>
                </div>
            </div>
        </div>
</section>
