img {
    max-width: 100%;
}
.border {
    border: 4px solid $brand-color;
}

.radius {
    border-radius: 4px;
}

.text-shadow {
    text-shadow: 0 0 4px #aaa;
}

.hero-heading {
    font-size: 3em !important;
    font-weight: bold;
    color:  #ff0 !important; 
}

.hero-text {
        font-weight: bold !important;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.18);
    display: inline-block;
    padding: 30px;
    border-radius: 20px;
}


.fh5co-blog .blog-text {
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    width: 90%;
    padding: 30px;
    float: right;
    margin-top: -5em;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0 10px 20px -12px rgba(0,0,0,.18);
    -moz-box-shadow: 0 10px 20px -12px rgba(0,0,0,.18);
    box-shadow: 0 10px 20px -12px rgba(0,0,0,.18);
}

.fh5co-blog .blog-text span.posted_by {
    font-style: italic;
    color: rgba(0,0,0,.3);
    font-size: 18px;
}

.fh5co-blog .blog-text span {
    display: inline-block;
    margin-bottom: 20px;
}

.fh5co-blog .blog-text span.comment {
    float: right;
}

.fh5co-blog .blog-text span {
    display: inline-block;
    margin-bottom: 20px;
}
.footer {
    img {
        -webkit-filter: grayscale(1);
                filter: grayscale(1);
        opacity: 0.4;
    }
}

.loader {
    height: 130px;
    width: 130px;
    opacity: 0.4;
}


.inner {
    padding: 1.5em;
    width: 100% !important;
}

.box {
    webkit-box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.18);
    box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.18);
    
    .image {
        max-width: 100%;
        border-radius: 4px 4px 0 0;
    }
}

.modal-header .close {
    margin-top: 10px;
}
.boxed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, 0.5);
}

.box-inner {
    /* display: inline-block; */
    text-align: left;
    vertical-align: middle;
    background: #fff;
    width: 600px;
    margin: 80px auto;


}

.news-head {
    background: $brand-color;
    font-weight: bold;
    color: #fff;
    padding: 30px;
}
.news-body {
    padding: 30px;
}


#testimonials {
    background: linear-gradient(111.50716195458574deg, rgba(247, 168, 0,1) 21.552083333333332%,rgba(246, 168, 0,1) 21.552083333333332%,rgba(207, 207, 85,1) 89.88541666666666%);
}

.slide-toggle {
    position: fixed !important;
    right: 0 !important;
    top: 45% !important;
    z-index: 1055;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
    
    @include media-query($on-palm) {
        display: none;
    }
}

.btn-info,
.btn-info:hover{
    background-color: #204d74;
}

.hero-3 {
    
    @include media-query($on-palm) {
        margin-top: 0;
        padding-top: 150px;
    }
}