img {
    max-width: 100%;
}
.border {
    border: 4px solid $brand-color;
}

.radius {
    border-radius: 4px;
}

.text-shadow {
    text-shadow: 0 0 4px #aaa;
}

.hero-heading {
    font-size: 3em !important;
    font-weight: bold;
    color:  #ff0 !important; 
}

.hero-text {
        font-weight: bold !important;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #f7a800 !important;
    background-color: transparent;
}

.scroll-link.active {
    color: #f7a800 !important;
    background-color: transparent;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.18);
    display: inline-block;
    padding: 30px;
    border-radius: 20px;
}


.fh5co-blog .blog-text {
    margin-bottom: 30px;
    position: relative;
    background: #fff;
    width: 90%;
    padding: 30px;
    float: right;
    margin-top: -5em;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0 10px 20px -12px rgba(0,0,0,.18);
    -moz-box-shadow: 0 10px 20px -12px rgba(0,0,0,.18);
    box-shadow: 0 10px 20px -12px rgba(0,0,0,.18);
}

.fh5co-blog .blog-text span.posted_by {
    font-style: italic;
    color: rgba(0,0,0,.3);
    font-size: 18px;
}

.fh5co-blog .blog-text span {
    display: inline-block;
    margin-bottom: 20px;
}

.fh5co-blog .blog-text span.comment {
    float: right;
}

.fh5co-blog .blog-text span {
    display: inline-block;
    margin-bottom: 20px;
}
.footer {
    img {
        -webkit-filter: grayscale(1);
                filter: grayscale(1);
        opacity: 0.4;
    }
}

.loader {
    height: 130px;
    width: 130px;
    opacity: 0.4;
    @include media-query($on-palm) {
        top: 40%;
        left: 40%;
    }
}


.inner {
    padding: 1.5em;
    width: 100% !important;
}

.box {
    webkit-box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.18);
    box-shadow: 0 10px 50px -12px rgba(0, 0, 0, 0.18);
    
    .image {
        max-width: 100%;
        border-radius: 4px 4px 0 0;
    }
}

.modal-header .close {
    margin-top: 10px;
}
.boxed {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, 0.5);
}

.box-inner {
    /* display: inline-block; */
    text-align: left;
    vertical-align: middle;
    background: #fff;
    width: 600px;
    margin: 80px auto;


}

.news-head {
    background: $brand-color;
    padding: 30px;
    position: relative;
    h3 {
        display: inline-block;
        font-weight: bold !important;
        color: #fff !important;
        margin: 0;
    }
}
.news-body {
    color: #333;
    padding: 30px;
}

.close-btn {
    float: right;
    font-size: 2em;
    color: #fff;
    position: relative;
    bottom: 10px;
}


#testimonials {
    background: linear-gradient(111.50716195458574deg, rgba(247, 168, 0,1) 21.552083333333332%,rgba(246, 168, 0,1) 21.552083333333332%,rgba(207, 207, 85,1) 89.88541666666666%);
}

.slide-toggle {
    position: fixed !important;
    right: 0 !important;
    top: 45% !important;
    z-index: 1055;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg);
    
    @include media-query($on-palm) {
        display: none;
    }
}

.btn-info,
.btn-info:hover{
    background-color: #204d74;
}

.hero-3 {
    
    @include media-query($on-palm) {
        margin-top: 0;
        padding-top: 150px;
    }
}
.underline {
    text-decoration: underline;
}

.page-headline {
    font-size: 3em;
    font-weight: bold;
    color: $brand-color;
    @include media-query($on-palm) {
        font-size: 2em;
    }
}

.modal-body {
    .img-responsive, .image {
        width: 100% !important;
    }
}

.btn-menu.donate {
    &:hover {
        color: #fff !important; 
    }
}

.box-container {
    height: 350px;
    margin-bottom:  20px;
}
.box-1 {
    height: 100%;
    background-color: #019fcb;
    /* border-bottom: 1px solid #019fcb; */


    h4 {
        text-align: center;
        color: #fff;
        padding: 30px;
    }
    p {
        height: 215px;
        background-color: #fff;
        padding: 30px;
    }
}

.green {
    background-color: #01a2a2;
}
.purple {
    background-color: #963a86;
}

.dark-bg {
    background-color: #263b4c;
}

#donate-block {
    .box {
         border: 1px solid #ccc;
        h4 {
            padding: 20px;
            }
        
        .btn {
            border-radius: 0;
        }
    }
}

.razr-value {
    padding: 20px 0;
    text-align: center;
}
#razr-enter {
    width: 50%;
    border: none;
    border-bottom: 1px solid #41c741;
    outline: none;
}

.news-box {
    padding: 30px;
    border-left: 5px solid #01a2a2;
}
