---
layout: compress
---

<!DOCTYPE html>
<html lang="en" {% if page.url == '/' %}id="home"{% endif %}>

{% include head.html %}

<body data-spy="scroll" data-target="#navigation" data-offset="100" id="top" >
    
    <div class="loader-backdrop">           <!-- Pre Loader -->
        <div class="loader" style="background-image: url({{site.baseurl}}/images/rotary.gif); background-repeat: no-repeat;">
        </div>
    </div>

 {% include news.html %}
 {% include header.html %}
    
   {{content}}
     
      
    <!-- Footer -->
    {% include footer.html %}

    <!-- Back To Top Button -->
    <a href="#top" id="backHome" class="scroll-link"><i class="ion-arrow-up-c"></i></a>
    
    <!-- JQuery Version 2.2.4 -->
    <script src="{{site.baseurl}}/js/jquery.min.js" type="text/javascript"></script>
    
    <!-- Bootstrap Version 3.3.7 -->
    <script src="{{site.baseurl}}/js/bootstrap.min.js" type="text/javascript"></script>
    
    <!-- Owl Carousel 2 JS -->
    <script src="{{site.baseurl}}/js/owl.carousel.min.js" type="text/javascript"></script>

    <!-- Classie JS -->
    <script src="{{site.baseurl}}/js/classie.js" type="text/javascript"></script>

    <!-- Count To JS -->
<!--     <script src="{{site.baseurl}}/js/jquery.countTo.js" type="text/javascript"></script> -->

    <!-- Appear Js -->
 <!--    <script src="{{site.baseurl}}/js/jquery.appear.js" type="text/javascript"></script> -->

    <!-- AOS -->
    <script src="{{site.baseurl}}/js/aos.js" type="text/javascript"></script>

    <!-- Custom JS -->
    <script src="{{site.baseurl}}/js/script.js" type="text/javascript"></script>
    
<script>
$('.owl-intro').owlCarousel({
    items:1,
    loop:true,
    autoplay: true,
    margin:0,
    nav:false,
    dots: false

})    
</script>

<script>
$('.owl-projects').owlCarousel({
    items:1,
    loop:true,
    autoplay: false,
    margin:0,
    nav:true,
    dots: false

})    
</script>
    
<script type="text/javascript">
    $(document).ready(function(){
        $(".slide-toggle, .close-btn").click(function(){
            $(".boxed").animate({
                width: "toggle"
            });
        });
    });
</script>

 <script>
AOS.init({
  offset: 200,
  duration: 1000,
  easing: 'ease-in-sine',
  delay: 100,
  disable: 'mobile'
});
</script>
    
</body>

</html>